<div class="container">

  <div class="row justify-content-center">
    <div class="col-10 col-lg-8 text-center mb-3">
      <h1><%= @restaurant.name %></h1>

      <p class="mb-1">
        <strong>Address</strong>
        <%= @restaurant.address %>
      </p>

      <p class="mb-1">
        <strong>Phone</strong>
        <%= @restaurant.phone_number %>
      </p>

      <p class="mb-3 border-bottom pb-3">
        <strong>Category</strong>
        <%= @restaurant.category %>
      </p>

      <%= link_to 'Add new review', new_restaurant_review_path(@restaurant), class: "btn btn-light btn-sm mb-2" %>

      <% @restaurant.reviews.each do |review| %>
        <div class="review-container">
          <p> <%= review.rating %> <%= icon('fas', 'star') %> </p>
          <p class="mb-0"> <%= review.content %> </p>
        </div>
      <% end %>

    </div>
  </div>

</div>
